/*css 파일 */


/* body 부분의 모든 font는 
14px, 폰트 arial
정렬 : 가운데 정렬 의미  */
body {
  font:14px arial;
  text-align:center;
}

/* ***
1. # : id 속성 의미
2. #frame : id=frame인 tag에 적용함을 의미
3. margin-top : id=frame인 tag가 외부 상위공간은 15px여백
4. 이 tag가로 사이즈는  440px */
#frame {
  margin-top:15px;
  width:440px;
}
/* 
1. #left : id가 left인 tag 의미 
2. float:left : 이미지 tag 화면의 이미지를 왼쪽으로 설정 의미
	배치 흐름은 코딩 순서에 따라 왼쪽부터 순차적으로 정렬
	만일 float 생략시 위에서 아래로 순차적으로 배치
	배치 흐름..	  */
#left {
  float:left;
  width:130px;
}

/* 
1. div.heading : div tag중에 class라는 속성명이 heading */
div.heading {
  font:20px arial;
  font-weight:bold;
  margin-bottom:5px;
}

div.subheading {
  font:15px arial;
  font-style:italic;
  margin-bottom:10px;
}

div.field {
  margin-bottom:5px;
  text-align:right;
}
