<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>step03_review</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ce</servlet-name>
    <servlet-class>controller.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ce</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessView</display-name>
    <servlet-name>SuccessView</servlet-name>
    <servlet-class>view.SuccessView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessView</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailView</display-name>
    <servlet-name>FailView</servlet-name>
    <servlet-class>view.FailView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailView</servlet-name>
    <url-pattern>/fail</url-pattern>
  </servlet-mapping>
</web-app>