<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>step01_basic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>c</servlet-name>
	<!-- kosa 요청시 실제 실행되는 servlet 프로그램 package명.이름 -->    
    <servlet-class>step01.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>c</servlet-name>
    <!-- 실제 client가 주소줄에 입력하게 되는 url -->
    <url-pattern>/kosa</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>step01.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/idCheck</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>come</servlet-name>
  	<servlet-class>step01.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>come</servlet-name>
  	<url-pattern>/ok</url-pattern>	
  </servlet-mapping>
  
  
</web-app>

















